<template>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auto-form-wrapper">
              <div>
                <div class="form-group">
                  <label class="label">Username</label>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Username" v-model="objData.username">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="label">Password</label>
                  <div class="input-group">
                    <input type="password" class="form-control" placeholder="*********" v-model="objData.password">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary submit-btn btn-block" @click="login">Login</button>
                </div>
                <div class="form-group d-flex justify-content-between">
                  <div class="form-check form-check-flat mt-0">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" v-model="objData.remember"> Keep me signed in
                      <i class="input-helper"></i>
                    </label>
                  </div>
                  <a href="javascript:;" class="text-small forgot-password text-black">Forgot Password</a>
                </div>
                <div class="form-group">
                  <button class="btn btn-block g-login">
                    <i class="mr-2 mdi mdi-google text-danger"></i>Log in with Google
                  </button>
                </div>
                <div class="text-block text-center my-3">
                  <span class="text-small font-weight-semibold">Not a member ?</span>
                  <a href="javascript:;" class="text-black text-small">Create new account</a>
                </div>
              </div>
            </div>
            <ul class="auth-footer">
              <li>
                <a href="javascript:;">Conditions</a>
              </li>
              <li>
                <a href="javascript:;">Help</a>
              </li>
              <li>
                <a href="javascript:;">Terms</a>
              </li>
            </ul>
            <p class="footer-text text-center">copyright © 2018 Bootstrapdash. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        data() {
            return {
                objData: {
                    username: '',
                    password: '',
                    remember: true
                }
            }
        },
        methods: {
            async login() {
                const ip = await this.$axios.$post('/login', this.objData);
                console.log(ip)
            }
        },
    }
</script>

<style scoped>

</style>
